extends layout

block content
  .ui.inverted.vertical.masthead.center.aligned.segment(style="height: 70vh;")
    .ui.container
      .ui.large.secondary.inverted.pointing.menu
        a.item(href='/') Home
    .ui.text.container
      h1.ui.inverted.header(style="font-size: 3.5em; margin-top: 3em;") Welcome to Consensus
      h2 create a new room
      form.ui.form
        .field
          input.ui.input#room-name(placeholder = "Give your room a name, or let us choose one")
      br
      button.ui.button.huge.primary#home-button Begin your class
        
  .ui.vertical.stripe.segment(style="padding: 8em 0;")
    .ui.stackable.grid.container
      .row
        .six.wide.column
          h3.ui.header(style="font-size:2em;") How to use it
        .ten.wide.column
          h3.ui.header(style="font-size:2em;") Why it's helpful
      .row
        .six.wide.column
          p(style="font-size: 1.33em;") Administrators create a room name.
            br
            | Students join the room
            br
            | That's it!
            br
            | Students and teachers are now ready to communicate
        .ten.wide.column
          .ui.relaxed.grid
            .three.column.row
              .column
                h4.ui.header No unnecessary distractions during lecture
                p(style="font-size: 1.33em;") Information only appears on the screen once you indicate confusion
              .column
                h4.ui.header Life Q&A
                p(style="font-size: 1.33em;") Other students (or TAs) can answer questions you ask in real time
                  br
                  | Students can vote on questions so that TAs / teachers see them later
              .column
                h4.ui.header Indicate confusion
                p(style="font-size: 1.33em;") Often when students are confused, they don’t know how to articulate a question
                  br
                  | A simple confusion indication can be a powerful tool 
      .row
        .center.aligned.column
          h3.ui.header(style="font-size: 1.5em;") Gives teachers and students the information they need to resolve confusion
          
  .ui.inverted.footer.segment(style="margin:0;")
    .ui.container
      .ui.inverted.list
        p Made by Matt Johnston, Kelvin Lu, Hoang Nguyen, Jessica Tang, Evan Tey
      
  .ui.modal#create-modal
    i.close.icon
    .content
      h2.medium.centered.header.ui#create-header
          | Your room has been created
      a#student-link(href = "/student")
        button.ui.basic.button 
          | Student Link
      br
      br
      a#admin-link(href = "/admin")
        button.ui.basic.button
          | Admin Link
          
  script(src = "/javascripts/index.js")
