doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/icon.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/javascripts/semantic.min.js')
    title Consensus
    
body
  .ui.secondary.fixed.menu
    a.item(href='/mockup/') Home
    .right.menu
      a.item(href='/mockup/admin')
        | Admin
      a.item(href='/mockup/student')
        | Student
      a.item(href='/mockup/stats')
        | End-Statistics
        
  section.ui.container
      block content
