extends layout

block content
  h1.ui.large.header
    |session name
  .ui.grid
    .ten.wide.column
        button.ui.basic.button#confused(onclick="amConfuse()")
          | I feel confused
        button.ui.basic.button#not-confused(onclick="notConfuse()")
          | close confusion
        
        .ui#confused-options(style="margin-top:2em;")
          h2 what are you confused about?
          button.ui.basic.button#show-ask-options(onclick="qOptions()")
            | ask a question
          
          .ui.form.vert-margin#ask-options
            .field
              textarea(id="the-question", placeholder="let us know in 250 characters", rows=4)
              .vert-margin.right
                button.ui.basic.button#ask-question
                  | ask question
                button.ui.basic.button.neutral#close-ask-options(onclick="cOptions()")
                  | hide this feature
        
    .six.wide.column
      #the-confused
        p 10 other people are also confused
        #the-asks.vert-margin.large
          button.ui.basic.button.text#top-asks(style="margin: 0 1em 0 0" onclick="topAsks()")
            | top asks
          button.ui.basic.button.text#recent-asks(onclick="recAsks()")
            | recently asked
          button.ui.basic.button.text.right#hide-asks(onclick="hideAsks()")
            | hide
          #asks.vert-margin
            p what a question

  script(src="/javascripts/student.js")
  script(src="https://cdn.socket.io/socket.io-1.7.3.js")
