extends layout

block content
  .section.one
    h1.large.centered.header.ui Welcome To Consensus
    
    button.ui.basic.button.centered#home-button    
      | Begin your class now
  
  .ui.modal#create-modal
    i.close.icon
    .content
      h2.medium.centered.header.ui
          | Your room has been created
      a(href = "/mockup/student")
        button.ui.basic.button 
          | Student Link
      a(href = "/mockup/admin")
        button.ui.basic.button
          | Admin Link
  script(src = "/javascripts/index.js")
