extends layout

block content
  h1.ui.large.header
    | #{name}
  .ui.grid
    .ten.wide.column
        button.ui.basic.button#confused
          | I feel confused
        button.ui.basic.button#not-confused
          | no longer confused
        #confusion-help(style="margin-top: 2em;")
          h2 what are you confused about?
          button.ui.basic.button#show-ask-options
            | ask a question
          
          .ui.form.vert-margin#ask-options
            .field
              textarea(id="the-question", placeholder="let us know in 250 characters", rows=4)
              .vert-margin.right
                button.ui.basic.button#ask-question
                  | ask a question
                button.ui.basic.button.bgd.neutral#close-ask-options
                  | hide this feature
        
    .six.wide.column#confusion-info
      p#the-confused 10 other people are also confused
      .vert-margin.large
        a#show-top-asks(style="padding: 0 1em 0 0")
          | top asks
        a#show-recent-asks
          | recently asked
        a#hide-asks.right
          | hide
        #the-asks
          #recent-asks.vert-margin(style="display:inline-block;")
            p#rquestion-1.vote(style="font-style:italics; border:none; display:inline-block;") +0/
              #rquestion-1.question(style="display:inline-block;") placeholder1
            p#rquestion-2.vote(style="font-style:italics; border:none; display:inline-block;") +0/
              #rquestion-2.question(style="display:inline-block;") placeholder2
            p#rquestion-3.vote(style="font-style:italics; border:none; display:inline-block;") +0/
              #rquestion-3.question(style="display:inline-block;") placeholder3
          #top-asks.vert-margin(style="display:inline-block;")
            p#tquestion-1.vote(style="font-style:italics; border:none; display:inline-block;") +0/
              #tquestion-1.question(style="display:inline-block;") placeholder1
            p#tquestion-2.vote(style="font-style:italics; border:none; display:inline-block;") +0/
              #tquestion-2.question(style="display:inline-block;") placeholder2
            p#tquestion-3.vote(style="font-style:italics; border:none; display:inline-block;") +0/
              #tquestion-3.question(style="display:inline-block;") placeholder3

          
    .ui.basic.modal(style="min-width: 350px; width: 30%; margin-left: -200px;")
      .header(style="padding-left:0; border:none;")
        | question
      .description#question-modal(style="font-style:italics; border:none;")
        | lookee a question


      .actions(style="border:none;")
        #vote-modal(style="font-style:italics; border:none; align:right")
          | 0 vote
        .ui.button.green.inverted.ok#upvote
          | upvote
        .ui.button.basic.cancel.inverted.red
          | close

  script(src="/javascripts/student.js")
  script(src="https://cdn.socket.io/socket.io-1.7.3.js")
