/*********************
      VARIABLES
*********************/
$white: #ffffff;
$neutral: #F3F3F3;
$ashen: #DADADA;
$dark: #95989A;
$bluu: #A5E2E3;
$green: #C7D8C6;
$font: 'Source Sans Pro', sans-serif;



/*********************
      MAIN STYLES
*********************/

body{
  font-family: $font;
}

p{
  color: $dark;
}

section.ui.container{
  padding-top:8rem;
}

a{
  color: $dark;
  &:hover{
    color: $bluu;
  }
}

button.ui{
  &.centered.button {
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
    text-align: center;
  }
  &.basic.button.neutral{
    background-color: $neutral!important;
  }
  &.basic.button.text{
    padding: 0em;
    font-family: $font;
    color: $dark!important;
    border: 0 none $white;
    box-shadow: none;
    background-color: $white!important;
    &:hover{
      color: $bluu!important;
    }
    &.selected{
      font-weight: bold;
    }
  }
}

.vert-margin{
  margin: .5em 0;

  &.large{
    margin: 2em 0;
  }
}

.right{
  float: right;
}



/*********************
    STUDENT STYLES
*********************/
#not-confused{
  display: none;
  &.toggled{
    display: inline-block;
  }
}

#confused-options{
  display: none;
  &.toggled{
    display: block;
  }
}

#show-ask-options{
  &.toggled{
    display: none;
  }
}

#ask-options{
  display: none;
  &.toggled{
    display: block;
  }
}

#the-confused{
  display: none;
  &.toggled{
    display: block;
  }
}

#asks{
  display: none;
  &.toggled{
    display: block;
  }
}
