.color.white{
  color: #ffffff;
}
.color.neutral{
  color: #F3F3F3;
}
.color.ashen{
  color: #DADADA;
}
.color.dark{
  color: #95989A;
}
.color.bluu{
  color: #D0E6E3;
}
.color.green{
  color: #C7D8C6;
}

.ask-aq{
  margin: calc(2rem - .14285em) 0 1rem;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

section.ui.container{
  padding-top:5rem;
}

button.ui.centered.button {
  display: flex;
  justify-content:center;
  align-items:center;
  margin: 0 auto;
  text-align: center;
}
